* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

nav {
    border-bottom: 1px solid #868686;
}

.nav-button {
    border: none;
    background-color: #fff;
    font-size: 20px;
    padding: 20px;
}