* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

nav {
    border-bottom: 1px solid #bdbdbd;
}

.nav-button {
    border: none;
    background-color: #fff;
    font-size: 20px;
    padding: 20px;
}

.nav-text { 
    font-size: 15px;
}

.buttons { 
    float: left;
    width: 20%;
}

.nav-details {
    width: 30%;
}
