* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

nav {
    position: fixed;
    width: 100%;
    top: 0;
    box-shadow: 0 0 0 1px #bdbdbd;
}

.nav-icons {
    border: none;
    background-color: #fff;
    font-size: 20px;
    padding: 10px;
}

.nav-icons a {
    text-decoration: none;
    color: #000;
}

.nav-link {
    font-size: 15px;
    color: #000;
    text-decoration: none;
}

.nav-link:hover {
    text-decoration: underline;
}

.section-1 {
    width: 20%;
    float: left;
    padding-right: 25%;
}

.nav-logo {
    padding-top: 10px;
    float: left;
}

.section-2 {
    float: right;
    margin-top: 10px;
    margin-right: 20px;
}

.section-2 button {
    background: rgb(86, 123, 149);
    color: white;
    border: 1px solid;
    border-radius: 3px;
    padding: 3px;
    font-weight: 700;
    height: 30px;
}